/* your styles go here */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.fa-16x {
    font-size: 1.6em;
}

.fa-13x {
    font-size: 1.3em;
}

#post-content {
    font-size: 18px;
  }

.bar.background-image-fixed-2 {
background: url('../img/grassfield.jpg') center top no-repeat;
background-attachment: fixed;
background-size: cover;
}
.home-carousel {
    position: relative;
    background: url('../img/worldmap.gif') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }